.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.pagination-container {
  display: flex;
  justify-content: end;
  margin: 20px 0px 0px 0px;
}

.pagination-container ul {
  margin: 0px;
  display: flex;
  padding: 0px;
  gap: 10px;
}

.pagination-container li {
  list-style-type: none;
}

.pagination-container li:first-child {
  padding-right: 10px;
}

.pagination-container li:last-child {
  padding-left: 10px;
}
.error {
  text-align: center;
  background: #ffbbbb;
  border: 1px solid var(--primary-color);
  padding: 20px;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
